/* .button-hover {
	margin: 60px;
	padding: 10px;
	transform: skewX(20deg) translateX(20%);
	border: 3px solid rgb(31, 31, 53);
	background-color: rgb(142, 142, 166, 0.1);
	color: rgb(31, 31, 53);
	font-size: 25px;
	border-radius: 30px;
}

.button-hover:before {
	content: "";
	background: linear-gradient(
		45deg,
		#9a9797,
		#736a61,
		#6a6a6a,
		#acacac,
		#eff0f0,
		#6d707f,
		#4e4848,
		#9f8f9f,
		#908989
	);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(15px);
	width: calc(100% + 5px);
	height: calc(100% + 5px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	border-radius: 10px;
}

.button-hover:active {
	color: rgb(142, 142, 166);
}

.button-hover:active:after {
	background: transparent;
}

.button-hover:hover:before {
	opacity: 1;
}

.button-hover:after {
	z-index: -1;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgb(142, 142, 166, 0.2);
	left: 0;
	top: 0;
	border-radius: 10px;
}

@keyframes glowing {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
} */
