@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.bcg-nav {
	height: 8%;
	background: linear-gradient(
		135deg,
		rgb(166, 175, 194) 47%,
		rgb(187, 210, 229),
		rgb(184, 211, 240)
	);
}

.nav-color {
	color: white;
	font-size: 25px;
	text-decoration: none;
	font-family: "Lobster", monospace;
}

.nav-item {
	padding: 6px;
	font-size: 28px;
}

.nav-color:hover {
	color: rgba(99, 99, 99, 0.405);
}

.line-height {
	line-height: 30px;
}

.logo-size {
	height: 70px;
}

@media only screen and (max-width: 1000px) {
	.bcg-nav {
		background: rgb(154, 170, 196);
	}

	.logo-size {
		height: 50px;
	}
}
