@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

.what-they-think {
	display: flex;
	margin-bottom: 50px;
	justify-content: center;
	font-family: "Patrick Hand", cursive;
}
